<footer class="area-footer zone-box" style="border-top: none;">
    <address>
        Contactați-ne:<br>
        Telefon: <a href="tel:+40700123456">0700 123 456</a><br>
        Email: <a href="mailto:vip@aerolux.ro"><i class="fa-solid fa-envelope"></i> vip@aerolux.ro</a><br>
        WhatsApp: <a href="whatsapp://send?phone=40700123456">Scrie-ne pe chat</a><br>
        Adresă: <a href="https://www.google.com/maps?q=44.43694087910243,26.098363715522524" target="_blank">Facultatea de Matematică și Informatică, București</a><br><br>
    
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.840250682136!2d26.098363715522524!3d44.43694087910243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff47141525cb%3A0x6b4fb43ec04782bb!2sFacultatea%20de%20Matematic%C3%A3%20%C8%99i%20Informatic%C3%A3!5e0!3m2!1sro!2sro!4v1680000000000!5m2!1sro!2sro" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" title="Locatie harta AeroLux" class="media-element"></iframe>
    </address>
    <p><a href="#">Înapoi sus</a></p>
    <p>
        <small>Copyright © <time datetime="2026-02-28">28 februarie 2026</time> AeroLux Jets. Toate drepturile rezervate.</small>
    </p>
    <p id="banner-proiect">Acesta este un proiect școlar!</p>
</footer>