<header class="area-header zone-box" style="border-top: none;">
    <h1>AeroLux Jets</h1>
    <nav>
        <input type="checkbox" id="ch-menu" />
        <label id="hamburger" for="ch-menu">
            <div class="hamburger-icon">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </label>
        <ul class="meniu">
            <li>
                <div class="text-icon">Acasă</div>
                <div class="imag-icon">
                    <span class="fas fa-house"></span>
                </div>
                <ul class="submeniu">
                    <li><a href="/#flota">Flotă</a></li>
                    <li><a href="/#performante">Performanțe</a></li>
                    <li><a href="/#evenimente">Evenimente</a></li>
                </ul>
            </li>
            <li>
                <div class="text-icon">FlyShop</div>
                <div class="imag-icon">
                    <span class="fas fa-plane"></span>
                </div>
                <ul class="submeniu">
                    <li><a href="/shop#statice">Private Jets</a></li>
                    <li><a href="/shop#dinamice">Licitații</a></li>
                </ul>
            </li>
            <li>
                <a href="/servicii">
                    <div class="text-icon">Servicii</div>
                    <div class="imag-icon">
                        <span class="fas fa-list"></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/contact">
                    <div class="text-icon">Contact</div>
                    <div class="imag-icon">
                        <span class="fas fa-address-book"></span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/despre">
                    <div class="text-icon">Despre</div>
                    <div class="imag-icon">
                        <span class="fas fa-circle-info"></span>
                    </div>
               <ul class="submeniu">
                    <li><a href="/despre#istoric-firma">Istoric</a></li>
                    <li><a href="/despre#prezentare-video">Prezentare</a></li>
                    <li><a href="/despre#echipa-management">Echipa</a></li>
                </ul>
                </a>
            </li>
        </ul>
    </nav>
</header>